.PageBox {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoadingTitle {
    font-family: raleway_light;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin: 0 0 0.25em 0;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}